/* General section Start */

.separator {
  padding: 3em 0;
}

.float-left {
  float: left;
}

.black-text {
  color: #333;
}

.white-text {
  color: #fff;
}

.block-element {
  display: block;
}

.align-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

body {
  font-family: "Comic Neue", cursive, serif;
  color: white;
}

* {
  box-sizing: border-box;
}

/* General section END */

/* Navigation Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #595959;
  padding-bottom: 20px;
}

nav > * {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.nav-items > * {
  margin: 10px;
}

.nav-items:hover {
  color: #000;
}

.nav-items p {
  font-style: italic;
  text-align: center;
  font-size: 15px;
}

.topics {
  border: 2px solid white;
  border-radius: 15%;
}

.topics a {
  text-decoration: none;
  color: inherit;
}

.topics svg {
  padding-right: 10px;
}

/* MAIN Section Start */

main {
  display: flex;
  flex-wrap: wrap;
}

.flex-full {
  width: 100%;
}

.flex-third {
  width: 33%;
}

.flex-half {
  width: 50%;
}

.float-txt {
  position: absolute;
  text-align: center;
  width: 100%;
}

.floating-text {
  font-size: 40px;
  color: black;
  font-weight: 700;
  /* display: inline; */
  background: white;
  box-shadow: 0 62px 42px -10px rgb(0, 0, 0);
}

.right-floating {
  display: flex;
  position: absolute;
  left: 80%;
  top: 200px;
  font-size: 20px;
}

.red {
  padding: 15px;
  border: 1px solid white;
  border-radius: 11px;
}

.right-floating img {
  width: 50px;
  padding-right: 10px;
}

article.main-article a {
  color: inherit;
  text-decoration: none;
}

article.main-article {
  padding: 250px 50px;
}

.article-image.float-left {
  width: 5em;
  border: 4px solid #fff;
  border-radius: 7px;
}

figcaption {
  padding: 0.8em;
}

figcaption span {
  font-style: italic;
  font-weight: 100;
}

main article:nth-of-type(1) {
  background-color: rgb(91, 91, 91);
}

main article:nth-of-type(2) {
  background-color: rgb(97, 97, 97);
}

main article:nth-of-type(3) {
  background-color: rgb(86, 86, 86);
}

main article:nth-of-type(4) {
  background-color: rgb(91, 91, 91);
}

a p {
  font-size: 41px;
}

a span {
  font-size: 14px;
}

ul.hashtag {
  margin: 2em 0 7em;
  font-size: 16px;
}

ul.hashtag li {
  float: left;
  margin-right: 1em;
}

ul.hashtag li span sup:last-child {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  font-weight: 700;
}

.fa-comment-alt {
  font-size: 14px;
}

/* MAIN Section END */

section.latest-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000;
  background: #f6f3f2;
}

section.latest-post article {
  padding: 30px 40px 0;
}

section.latest-post article:hover {
  background-color: #fff;
}

section.latest-post a {
  color: black;
}

.article-header {
  font-size: 36px;
}

.article-header a p {
  font-size: 26px;
  color: #000;
}

.article-header a span:last-child {
  padding: 1em 0;
  display: block;
}

header.article-header + p {
  font-size: 20px;
  color: #000;
}

section.more-book {
  background-color: #ababab;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-book button {
  margin-top: 30px;
  width: 368px;
  font-size: 27px;
  border-radius: 10px;
  padding: 15px;
}

.more-book time {
  font-size: 18px;
  margin-top: 50px;
}

section.more-book p {
  font-size: 26px;
  margin: 0 20%;
  line-height: 40px;
}

section.more-book a {
  font-size: 52px;
  color: #000;
}

.more-book h1 {
  font-size: 52px;
}

.more-book img {
  padding-top: 80px;
  width: 800px;
}

.more-book * {
  padding: 10px;
}

section.advertisment {
  background-color: #595959;
  text-align: center;
  padding: 2em 4em;
  border-radius: 10px;
}

section.advertisment header {
  font-size: 36px;
}

section.advertisment h2 {
  font-size: 44px;
}

section.advertisment p {
  padding: 1em 0;
  display: block;
  font-size: 23px;
}

section.advertisment button {
  font-size: 1em;
  padding: 0.75em 1em;
  border-radius: 10px;
  margin: 1em 0;
}

section.advertisment span:last-child {
  font-size: 0.5em;
  display: block;
}

/* PERSON OF THE WEEK SECTION START */
.person-of-the-week {
  color: #656565;
  padding: 3em;
}

.person-of-the-week img {
  float: left;
  width: 13em;
  border: 5px solid #d33a2c;
  border-radius: 5px;
  margin-right: 4em;
}

section.person-of-the-week p {
  margin-top: 1.5em;
  font-size: 21px;
  line-height: 1.5;
}

section.person-of-the-week h5 {
  text-transform: uppercase;
  font-size: 18px;
}

/* PERSON OF THE WEEK SECTION END */

article.community-article {
  color: #333;
}

article.community-article img {
  margin-right: 2em;
}

article.community-article p {
  font-size: 20px;
}

article.community-article a {
  text-decoration: none;
}

article.community-article div {
  overflow: hidden;
}

/* Deisng Systems (Featured Smash Book) */

.design-systems {
  display: flex;
  height: 380px;
  padding: 55px 77px;
  background: rgb(102, 102, 102);
}

.design-systems img {
  width: 200px;
}

.design-systems div {
  display: flex;
  flex-direction: column;
}

.design-systems div h4 {
  font-size: 17px;
}

.design-systems div h2 {
  font-size: 47px;
  text-decoration: none;
  color: white;
  padding-top: 20px;
}

.design-systems div p {
  font-size: 22px;
  margin: 30px 0;
}

.design-systems div button {
  font-size: 27px;
  margin-top: 30px;
  padding: 20px;
  width: 300px;
}

.design-systems div button svg {
  padding-left: 10px;
}

/* Guides Section */

.guides {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 50px 77px;
  grid-gap: 50px;
}

.guides div h6 {
  font-size: 18px;
  margin-bottom: 9px;
}

.guides div > h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.guides div ul {
  line-height: 25px;
  padding-left: 44px;
  list-style-type: disc;
}

.guides div ul a li {
  padding: 10px 0;
  font-size: 25px;
  color: black;
}

/* Smashing Newsletter */

.smash-newsletter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 77px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #595959;
}

.smash-newsletter div {
  display: flex;
}

.smash-newsletter a h2 {
  font-size: 47px;
  padding: 30px 0 0 0;
  color: white;
  border-bottom: 2px solid white;
}

.smash-newsletter p {
  font-size: 22px;
  margin: 31px 0;
}

.smash-newsletter img {
  padding: 22px 0 44px 0;
  width: 520px;
  height: 557px;
}

.smash-newsletter div {
  border-radius: 5px;
  width: 470px;
  height: 50px;
}

.smash-newsletter div input {
  font-size: 20px;
  max-width: 60%;
}

.smash-newsletter div button {
  font-size: 21px;
}

.smash-newsletter div button svg {
  padding-left: 5px;
}

.smash-newsletter span {
  font-size: 17px;
  padding: 26px 0 50px 0;
}

/* See all articles text */

.see-all-articles {
  display: flex;
  font-size: 16px;
  padding: 22px 0 110px 0;
  margin: auto;
}

.see-all-articles a {
  text-decoration: none;
  color: #000;
  padding: 20px 0 10px 0;
  border-bottom: 4px solid #000;
  position: relative;
}

.see-all-articles svg {
  font-size: 40px;
  padding: 0 0 10px 3px;
  position: absolute;
  top: 13px;
}

img[src*="cage"] {
  float: left;
}

img[src*="cat"] {
  float: right;
}

footer {
  color: #fff;
  background-color: #595959;
  padding: 5em;
  overflow: hidden;
}

footer ul {
  margin: auto;
}

footer ul {
  margin: 2em 0;
}

footer ul:nth-of-type(1) {
  line-height: 1.5;
  font-size: 23px;
  margin-bottom: 2em;
}

footer ul:nth-of-type(1) > li:before {
  content: "";
  display: list-item;
  position: absolute;
}

footer p {
  margin: auto;
  width: 26%;
  line-height: 1.5;
}

footer ul li {
  list-style: disc;
  display: inline-block;
  margin: 0 0.5em;
}
