/* General section Start */

.float-left {
  float: left;
}

.text-black {
  color: black;
}

.clearfix {
  clear: both;
}

/* General section END */

body {
  font-family: "Comic Neue", cursive;
  color: white;
}

/* Navigation Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #595959;
  padding-bottom: 20px;
}

nav > * {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.nav-items > * {
  margin: 10px;
}

.nav-items:hover {
  color: #000;
}

.nav-items p {
  font-style: italic;
  text-align: center;
  font-size: 15px;
}

.topics {
  border: 2px solid white;
  border-radius: 15%;
}

.topics a {
  text-decoration: none;
  color: inherit;
}

.topics svg {
  padding-right: 10px;
}

/* MAIN Section Start */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article a {
  color: inherit;
  text-decoration: none;
}

article {
  padding: 100px 50px;
}

.article-image.float-left {
  width: 5em;
  border: 4px solid #fff;
  border-radius: 7px;
}

figcaption {
  padding: 0.8em;
}

figcaption span {
  font-style: italic;
  font-weight: 100;
}

main article:nth-child(1) {
  background-color: rgb(91, 91, 91);
}

main article:nth-child(2) {
  background-color: rgb(97, 97, 97);
}

main article:nth-child(3) {
  background-color: rgb(86, 86, 86);
}

main article:nth-child(4) {
  background-color: rgb(91, 91, 91);
}

a p {
  font-size: 41px;
}

a span {
  font-size: 14px;
}

ul.hashtag {
  margin: 2em 0 7em;
  font-size: 16px;
}

ul.hashtag li {
  float: left;
  margin-right: 1em;
}

ul.hashtag li span sup:last-child {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  font-weight: 700;
}

.fa-comment-alt {
  font-size: 14px;
}
/* MAIN Section END */
