/* General section Start */

.separator {
  padding: 3em 0;
}

.float-left {
  float: left;
}

.black-text {
  color: #333;
}

.white-text {
  color: #fff;
}

.block-element {
  display: block;
}

.align-center {
  text-align: center;
}

.clearfix {
  clear: both;
}

body {
  font-family: "Comic Neue", cursive;
  color: white;
}

* {
  box-sizing: border-box;
}

/* General section END */

/* Navigation Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #595959;
  padding-bottom: 20px;
}

nav > * {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.nav-items > * {
  margin: 10px;
}

.nav-items:hover {
  color: #000;
}

.nav-items p {
  font-style: italic;
  text-align: center;
  font-size: 15px;
}

.topics {
  border: 2px solid white;
  border-radius: 15%;
}

.topics a {
  text-decoration: none;
  color: inherit;
}

.topics svg {
  padding-right: 10px;
}

/* MAIN Section Start */

main {
  display: flex;
  flex-wrap: wrap;
}

.flex-full {
  width: 100%;
}

.flex-third {
  width: 33%;
}

.flex-half {
  width: 50%;
}

.float-txt {
  display: flex;
  position: relative;
  justify-content: center;
}

.floating-text {
  font-size: 40px;
  position: absolute;
  text-align: center;
  color: white;
  font-weight: 700;
  padding: 12px 15px;
  background: black;
  display: inline;
  box-shadow: 0 80px 60px -20px rgb(0, 0, 0);
  top: 50px;
}

.right-floating {
  display: flex;
  position: absolute;
  left: 80%;
  top: 200px;
  font-size: 20px;
}

.red {
  padding: 15px;
  border: 1px solid white;
  border-radius: 11px;
}

.right-floating img {
  width: 50px;
  padding-right: 10px;
}

article.main-article a {
  color: inherit;
  text-decoration: none;
}

article.main-article {
  padding: 250px 50px;
}

.article-image.float-left {
  width: 5em;
  border: 4px solid #fff;
  border-radius: 7px;
}

figcaption {
  padding: 0.8em;
}

figcaption span {
  font-style: italic;
  font-weight: 100;
}

main article:nth-child(1) {
  background-color: rgb(91, 91, 91);
}

main article:nth-child(2) {
  background-color: rgb(97, 97, 97);
}

main article:nth-child(3) {
  background-color: rgb(86, 86, 86);
}

main article:nth-child(4) {
  background-color: rgb(91, 91, 91);
}

a p {
  font-size: 41px;
}

a span {
  font-size: 14px;
}

ul.hashtag {
  margin: 2em 0 7em;
  font-size: 16px;
}

ul.hashtag li {
  float: left;
  margin-right: 1em;
}

ul.hashtag li span sup:last-child {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  font-weight: 700;
}

.fa-comment-alt {
  font-size: 14px;
}

/* MAIN Section END */

section.latest-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000;
  background: #f6f3f2;
}

section.latest-post article {
  padding: 30px 40px 0;
}

section.latest-post article:hover {
  background-color: #fff;
}

section.latest-post a {
  color: black;
}

.article-header {
  font-size: 36px;
}

.article-header a p {
  font-size: 26px;
  color: #000;
}

.article-header a span:last-child {
  padding: 1em 0;
  display: block;
}

header.article-header + p {
  font-size: 20px;
  color: #000;
}

section.more-book {
  background-color: #ababab;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-book button {
  margin-top: 30px;
  width: 368px;
  font-size: 27px;
  border-radius: 10px;
  padding: 15px;
}

.more-book time {
  font-size: 18px;
  margin-top: 50px;
}

section.more-book p {
  font-size: 26px;
  margin: 0 20%;
  line-height: 40px;
}

section.more-book a {
  font-size: 52px;
  color: #000;
}

.more-book h1 {
  font-size: 52px;
}

.more-book img {
  padding-top: 80px;
  width: 800px;
}

.more-book * {
  padding: 10px;
}

section.advertisment {
  background-color: #595959;
  text-align: center;
  padding: 2em 4em;
  border-radius: 10px;
}

section.advertisment header {
  font-size: 36px;
}

section.advertisment h2 {
  font-size: 44px;
}

section.advertisment p {
  padding: 1em 0;
  display: block;
  font-size: 23px;
}

section.advertisment button {
  font-size: 1em;
  padding: 0.75em 1em;
  border-radius: 10px;
  margin: 1em 0;
}

section.advertisment span:last-child {
  font-size: 0.5em;
  display: block;
}

/* PERSON OF THE WEEK SECTION START */
.person-of-the-week {
  color: #656565;
  padding: 3em;
}

.person-of-the-week img {
  float: left;
  width: 13em;
  border: 5px solid #d33a2c;
  border-radius: 5px;
  margin-right: 4em;
}

section.person-of-the-week p {
  margin-top: 1.5em;
  font-size: 21px;
  line-height: 1.5;
}

section.person-of-the-week h5 {
  text-transform: uppercase;
  font-size: 18px;
}

/* PERSON OF THE WEEK SECTION END */

article.community-article {
  color: #333;
}

article.community-article img {
  margin-right: 2em;
}

article.community-article p {
  font-size: 20px;
}

article.community-article a {
  text-decoration: none;
}

article.community-article div {
  overflow: hidden;
}
